.parent{ 
    
    display:grid;
    background-color: rgb(255, 255, 255);
    height:700px;
    width: 1400px;
    margin: 10% 18% 10% 18%;

    grid-template-columns: 2% 8% 9% 4% 45% 9% 11% ; 
    grid-template-rows: 5% 10% 5% 10% 5% 10% 5% 25% 15% ; 
    grid-gap:18px 15px;
    border: solid black;
    /* row column for gap */
    background-image:url('Thewiz.gif');
   background-size: cover;
   
}
/*SOlid to see the border!*/
/* 1f to all be equal spaces */

.child{ 
    display: flex;
    justify-content:center;
    align-items: center;
    padding:25;
    font-size: 2em; 
    color:white;
    font-family: monospace;
    text-align: center;
    border-radius: 8px;
    font-size: 30px;
    
}

.child:hover{ 
    box-shadow: 0 0 10px 2px rgb(255, 255, 255)
}

.child-1{ 
    border: solid rgb(255, 255, 255);
    grid-area: 2/2/3/4;
    background-image:url('bte.png');
    background-size: cover;

    /*grid area row start/column-start/row-end/column-end*/

  
}

.child-2{ 
    border: solid rgb(255, 255, 255);
    grid-area: 4/2/5/4;
    background-image:url('btw.png');
    background-size: cover;

}


.child-3{ 
    border: solid rgb(255, 255, 255);

    grid-area: 6/2/7/4;
    background-image:url('btf.png');
    background-size: cover;



}


.child-4{ 
    border: solid green;
    grid-area: 3/7/6/8;
    font-size: 25px;
    background-image:url('score.png');
    background-size: cover;


}


.child-5{ 

    border: solid rgb(255, 255, 255);
    grid-area: 8/3/9/7;
    background-image:url('bottombar.png');
    background-size: cover;
    font-size: 20px;

}


.child-6{ 
    display: flex;
    justify-items:center;
    border: solid rgb(255, 255, 255);
    grid-area: 3/5/6/6;
    background-image:url('buttonres.png');
    background-size: cover;
    


}



